argcomplete==1.10.3
asgiref==3.5.0
beautifulsoup4==4.8.2
blis==0.7.7
catalogue==2.0.7
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
compressed-rtf==1.0.6
cryptography==36.0.2
cymem==2.0.6
Django==4.0.3
django-filter==21.1
djangorestframework==3.13.1
doctr==1.9.0
docx2txt==0.8
ebcdic==1.1.1
extract-msg==0.28.7
idna==3.3
IMAPClient==2.1.0
Jinja2==3.1.1
langcodes==3.3.0
legacy==0.1.6
lxml==4.8.0
MarkupSafe==2.1.1
murmurhash==1.0.6
NoelOCR==0.0.8
numpy==1.22.3
olefile==0.46
opencv-python==4.5.5.64
packaging==21.3
pathy==0.6.1
pdf2image==1.16.0
pdfminer.six==20191110
pdfplumber==0.6.0
pi==0.1.2
Pillow==9.0.1
poppler-utils==0.1.0
preshed==3.0.6
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.8.2
pyparsing==3.0.7
PyPDF2==1.26.0
pytesseract==0.3.8
python-bidi==0.4.2
python-dateutil==2.8.2
python-pptx==0.6.21
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
PyYAML==6.0
requests==2.27.1
scipy==1.8.0
six==1.12.0
smart-open==5.2.1
sortedcontainers==2.4.0
soupsieve==2.3.1
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
SpeechRecognition==3.8.1
sqlparse==0.4.2
srsly==2.4.2
textract==1.6.5
thinc==8.0.15
tifffile==2022.3.25
torch==1.11.0
tqdm==4.64.0
typer==0.4.1
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
Wand==0.6.7
wasabi==0.9.1
xlrd==1.2.0
XlsxWriter==3.0.3
